<p mat-dialog-title>Delete Loan ID</p>

<mat-card>
  <form [formGroup]="loanForm">

    <mat-form-field appearance="outline">
      <mat-label>Loan ID</mat-label>
      <input formControlName="loanId" matInput placeholder="Placeholder">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Date</mat-label>
      <input  formControlName="dateMaj" matInput placeholder="Placeholder">
    </mat-form-field>
    <mat-checkbox class="example-checkbox" formControlName="selectedCheckbox"></mat-checkbox>
  </form>



  <div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close (click)="exit()">Exit</button>
    <button style="margin-left:8px" mat-raised-button color="warn" mat-dialog-close (click)="cancel()">Cancel</button>
    <button style="margin-left:8px" mat-raised-button color="primary" (click)="delete()">Delete</button>
  </div>

</mat-card>